---
http_interactions:
- request:
    method: get
    uri: https://doi.crossref.org/openurl?format=unixref&id=doi:10.20944/preprints201909.0043.v1&noredirect=true&pid=sowen@cs.man.ac.uk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Crossref-Deployment-Name:
      - cr6-1
      Content-Type:
      - text/xml;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<doi_records>\r\n  <doi_record
        owner=\"10.20944\" timestamp=\"2019-09-05 05:34:52\">\r\n    <crossref>\r\n
        \     <posted_content type=\"preprint\">\r\n        <group_title>LIFE SCIENCES</group_title>\r\n
        \       <contributors>\r\n          <person_name sequence=\"first\" contributor_role=\"author\">\r\n
        \           <given_name>Daniel</given_name>\r\n            <surname>Missailidis</surname>\r\n
        \         </person_name>\r\n          <person_name sequence=\"additional\"
        contributor_role=\"author\">\r\n            <given_name>Sarah</given_name>\r\n
        \           <surname>Annesley</surname>\r\n            <ORCID>http://orcid.org/0000-0002-7604-3985</ORCID>\r\n
        \         </person_name>\r\n          <person_name sequence=\"additional\"
        contributor_role=\"author\">\r\n            <given_name>Claire</given_name>\r\n
        \           <surname>Allan</surname>\r\n          </person_name>\r\n          <person_name
        sequence=\"additional\" contributor_role=\"author\">\r\n            <given_name>Oana</given_name>\r\n
        \           <surname>Sanislav</surname>\r\n          </person_name>\r\n          <person_name
        sequence=\"additional\" contributor_role=\"author\">\r\n            <given_name>Brett</given_name>\r\n
        \           <surname>Lidbury</surname>\r\n            <ORCID>http://orcid.org/0000-0003-2211-989X</ORCID>\r\n
        \         </person_name>\r\n          <person_name sequence=\"additional\"
        contributor_role=\"author\">\r\n            <given_name>Don</given_name>\r\n
        \           <surname>Lewis</surname>\r\n          </person_name>\r\n          <person_name
        sequence=\"additional\" contributor_role=\"author\">\r\n            <given_name>Paul</given_name>\r\n
        \           <surname>Fisher</surname>\r\n            <ORCID>http://orcid.org/0000-0003-1884-6306</ORCID>\r\n
        \         </person_name>\r\n        </contributors>\r\n        <titles>\r\n
        \         <title>An Isolated Complex V Inefficiency and Dysregulated Mitochondrial
        Function in Immortalized Lymphocytes from ME/CFS Patients</title>\r\n        </titles>\r\n
        \       <posted_date>\r\n          <month>09</month>\r\n          <day>04</day>\r\n
        \         <year>2019</year>\r\n        </posted_date>\r\n        <acceptance_date>\r\n
        \         <month>09</month>\r\n          <day>03</day>\r\n          <year>2019</year>\r\n
        \       </acceptance_date>\r\n        <abstract>\r\n          <p>Myalgic Encephalomyelitis/Chronic
        Fatigue Syndrome (ME/CFS) is an enigmatic condition characterized by fatigue
        that is unaided by rest and by exacerbation of symptoms after exertion (post-exertional
        malaise or &amp;ldquo;PEM&amp;rdquo;). There is no definitive molecular marker
        or known underlying pathological mechanism for the condition. Increasing evidence
        for aberrant energy metabolism suggests a role for mitochondrial dysfunction
      [...]
