---
http_interactions:
- request:
    method: get
    uri: https://doi.crossref.org/openurl?format=unixref&id=doi:10.1101/105437&noredirect=true&pid=test@localhost
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Crossref-Deployment-Name:
      - qs3-1
      Content-Type:
      - text/xml;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<doi_records>\r\n  <doi_record
        owner=\"10.1101\" timestamp=\"2017-02-07 01:10:14\">\r\n    <crossref>\r\n
        \     <posted_content type=\"preprint\" language=\"en\" metadata_distribution_opts=\"any\">\r\n
        \       <group_title>Systems Biology</group_title>\r\n        <contributors>\r\n
        \         <person_name contributor_role=\"author\" sequence=\"first\">\r\n
        \           <given_name>Yin Hoon</given_name>\r\n            <surname>Chew</surname>\r\n
        \           <ORCID>http://orcid.org/0000-0002-9258-583X</ORCID>\r\n          </person_name>\r\n
        \         <person_name contributor_role=\"author\" sequence=\"additional\">\r\n
        \           <given_name>Daniel D.</given_name>\r\n            <surname>Seaton</surname>\r\n
        \           <ORCID>http://orcid.org/0000-0002-5222-3893</ORCID>\r\n          </person_name>\r\n
        \         <person_name contributor_role=\"author\" sequence=\"additional\">\r\n
        \           <given_name>Virginie</g[...]
