---
http_interactions:
- request:
    method: get
    uri: https://doi.crossref.org/openurl?format=unixref&id=doi:10.1063/1.2128263&noredirect=true&pid=sowen@cs.man.ac.uk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Crossref-Deployment-Name:
      - qs2-2
      Content-Type:
      - text/xml;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<doi_records>\r\n  <doi_record
        owner=\"10.1063\" timestamp=\"2017-02-05 15:45:23\">\r\n    <crossref>\r\n
        \     <conference>\r\n        <event_metadata>\r\n          <conference_name>WOMEN
        IN PHYSICS: 2nd IUPAP International Conference on Women in Physics</conference_name>\r\n
        \         <conference_location>Rio de Janeiro (Brazil)</conference_location>\r\n
        \         <conference_date>23-25 May 2005</conference_date>\r\n        </event_metadata>\r\n
        \       <proceedings_metadata language=\"en\">\r\n          <proceedings_title>AIP
        Conference Proceedings</proceedings_title>\r\n          <publisher>\r\n            <publisher_name>AIP</publisher_name>\r\n
        \         </publisher>\r\n          <publication_date>\r\n            <year>2005</year>\r\n
        \         </publication_date>\r\n          <volume>795</volume>\r\n          <issn>0094243X</issn>\r\n
        \         <coden>APCPCS</coden>\r\n        </proceedings_metadata>\r\n        <conference_paper>\r\n
        \         <contributors>\r\n            <organization sequence=\"first\" contributor_role=\"author\">Conference
        organizers</organization>\r\n          </contributors>\r\n          <titles>\r\n
        \           <title>Conference Recommendations</title>\r\n          </titles>\r\n
        \         <publication_date>\r\n            <year>2005</year>\r\n          </publication_date>\r\n
        \         <pages>\r\n            <first_page>29</first_page>\r\n            <last_page>34</last_page>\r\n
        \         </pages>\r\n          <doi_data>\r\n            <doi>10.1063/1.2128263</doi>\r\n
        \           <timestamp>20051031180747</timestamp>\r\n            <resource>http://aip.scitation.org/doi/abs/10.1063/1.2128263</resource>\r\n
        \         </doi_data>\r\n        </conference_paper>\r\n      </conference>\r\n
        \   </crossref>\r\n  </doi_record>\r\n</doi_records>"
  recorded_at: Tue, 08 Oct 2019 13:45:01 GMT
recorded_with: VCR 3.0.3
