---
http_interactions:
- request:
    method: get
    uri: https://doi.crossref.org/openurl?format=unixref&id=doi:10.1002/ca.22295&noredirect=true&pid=test@localhost
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Crossref-Deployment-Name:
      - qs2-2
      Content-Type:
      - text/xml;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<doi_records>\r\n  <doi_record
        owner=\"10.1002\" timestamp=\"2016-09-30 19:56:14\">\r\n    <crossref>\r\n
        \     <journal>\r\n        <journal_metadata language=\"en\">\r\n          <full_title>Clinical
        Anatomy</full_title>\r\n          <abbrev_title>Clin. Anat.</abbrev_title>\r\n
        \         <issn>08973806</issn>\r\n        </journal_metadata>\r\n        <journal_issue>\r\n
        \         <publication_date media_type=\"print\">\r\n            <month>07</month>\r\n
        \           <year>2014</year>\r\n          </publication_date>\r\n          <journal_volume>\r\n
        \           <volume>27</volume>\r\n          </journal_volume>\r\n          <issue>5</issue>\r\n
        \         <doi_data>\r\n            <doi>10.1002/ca.v27.5</doi>\r\n            <resource>http://doi.wiley.com/10.1002/ca.v27.5</resource>\r\n
        \         </doi_data>\r\n        </journal_issue>\r\n        <journal_article
        publication_type=\"full_text\">\r\n          <titles>\r\n            <title>The
        anatomy of the aortic root</title>\r\n            <subtitle>The Anatomy of
        the Aortic Root</subtitle>\r\n          </titles>\r\n          <contributors>\r\n
        \           <person_name contributor_role=\"author\" sequence=\"first\">\r\n
        \             <given_name>Marios</given_name>\r\n              <surname>Loukas</surname>\r\n
        \             <affiliation>Department of Anatomical Sciences; St. George's
        University; Grenada West Indies</affiliation>\r\n            </person_name>\r\n
        \           <person_name contributor_role=\"author\" sequence=\"additional\">\r\n
        \             <given_name>Esther</given_name>\r\n              <surname>Bilinsky</surname>\r\n
        \             <affiliation>Department of Anatomical Sciences; St. George's
        University; Grenada West Indies</affiliation>\r\n            </person_name>\r\n
[...]
