---
http_interactions:
- request:
    method: get
    uri: https://doi.crossref.org/openurl?format=unixref&id=doi:10.1007/978-3-540-70504-8_9&noredirect=true&pid=test@localhost
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Crossref-Deployment-Name:
      - cr7-1
      Content-Type:
      - text/xml;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<doi_records>\r\n  <doi_record
        owner=\"10.1007\" timestamp=\"2014-01-17 08:55:16\">\r\n    <crossref>\r\n
        \     <book book_type=\"other\">\r\n        <book_metadata language=\"en\">\r\n
        \         <contributors>\r\n            <person_name contributor_role=\"editor\"
        sequence=\"first\">\r\n              <given_name>Alex</given_name>\r\n              <surname>Gray</surname>\r\n
        \           </person_name>\r\n            <person_name contributor_role=\"editor\"
        sequence=\"additional\">\r\n              <given_name>Keith</given_name>\r\n
        \             <surname>Jeffery</surname>\r\n            </person_name>\r\n
        \           <person_name contributor_role=\"editor\" sequence=\"additional\">\r\n
        \             <given_name>Jianhua</given_name>\r\n              <surname>Shao</surname>\r\n
        \           </person_name>\r\n          </contributors>\r\n          <series_metadata>\r\n
        \           <titles>\r\n              <title>Lecture Notes in Computer Science</title>\r\n
        \           </titles>\r\n          </series_metadata>\r\n          <titles>\r\n
        \           <title>Sharing Data, Information and Knowledge</title>\r\n          </titles>\r\n
        \         <volume>5071</volume>\r\n          <publication_date media_type=\"print\">\r\n
        \           <year>2008</year>\r\n          </publication_date>\r\n          <isbn
        media_type=\"print\">978-3-540-70503-1</isbn>\r\n          <isbn media_type=\"electronic\">978-3-540-70504-8</isbn>\r\n
        \         <issn media_type=\"print\">0302-9743</issn>\r\n          <issn media_type=\"electronic\">1611-3349</issn>\r\n
        \         <publisher>\r\n            <publisher_name>Springer Berlin Heidelberg</publisher_name>\r\n
        \           <publisher_place>Berlin, Heidelberg</publisher_place>\r\n          </publisher>\r\n
        \         <doi_data>\r\n            <doi>10.1007/978-3-540-70504-8</doi>\r\n
        \           <resource>http://www.springerlink.com/index/10.1007/978-3-540-70504-8</resource>\r\n
        \         </doi_data>\r\n        </book_metadata>\r\n        <content_item
        component_type=\"chapter\" language=\"en\" level_sequence_number=\"1\" publication_type=\"full_text\">\r\n
        \         <contributors>\r\n            <person_name contributor_role=\"author\"
        sequence=\"first\">\r\n              <given_name>Christian Y. A.</given_name>\r\n
        \             <surname>Brenninkmeijer</surname>\r\n            </person_name>\r\n
        \           <person_name contributor_role=\"author\" sequence=\"additional\">\r\n
        \             <given_name>Ixent</given_name>\r\n              <surname>Galpin</surname>\r\n
        \           </person_name>\r\n            <person_name contributor_role=\"author\"
        sequence=\"additional\">\r\n              <given_name>Alvaro A. A.</given_name>\r\n
        \             <surname>Fernandes</surname>\r\n            </person_name>\r\n
        \           <person_name contributor_role=\"author\" sequence=\"additional\">\r\n
        \             <given_name>Norman W.</given_name>\r\n              <surname>Paton</surname>\r\n
        \           </person_name>\r\n          </contributors>\r\n          <titles>\r\n
        \           <title>A Semantics for a Query Language over Sensors, Streams
        and Relations</title>\r\n          </titles>\r\n          <component_number>Chapter
        9</component_number>\r\n          <pages>\r\n            <first_page>87</first_page>\r\n
        \           <last_page>99</last_page>\r\n          </pages>\r\n          <doi_data>\r\n
        \           <doi>10.1007/978-3-540-70504-8_9</doi>\r\n            <resource>http://link.springer.com/10.1007/978-3-540-70504-8_9</resource>\r\n
        \           <collection property=\"crawler-based\" setbyID=\"springer\">\r\n
        \             <item crawler=\"iParadigms\">\r\n                <resource>http://www.springerlink.com/index/pdf/10.1007/978-3-540-70504-8_9</resource>\r\n
        \             </item>\r\n            </collection>\r\n          </doi_data>\r\n
        \       </content_item>\r\n      </book>\r\n    </crossref>\r\n  </doi_record>\r\n</doi_records>"
  recorded_at: Mon, 27 Feb 2017 15:41:30 GMT
recorded_with: VCR 3.0.3
