---
http_interactions:
- request:
    method: get
    uri: https://doi.crossref.org/openurl?format=unixref&id=doi:10.18653/v1/W18-08&noredirect=true&pid=sowen@cs.man.ac.uk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Crossref-Deployment-Name:
      - cr6-1
      Content-Type:
      - text/xml;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<doi_records>\r\n  <doi_record
        owner=\"10.18653\" timestamp=\"2018-05-30 00:48:36\">\r\n    <crossref>\r\n
        \     <conference>\r\n        <contributors>\r\n          <person_name contributor_role=\"chair\"
        sequence=\"first\">\r\n            <given_name>Mark</given_name>\r\n            <surname>Alfano</surname>\r\n
        \         </person_name>\r\n          <person_name contributor_role=\"chair\"
        sequence=\"additional\">\r\n            <given_name>Dirk</given_name>\r\n
        \           <surname>Hovy</surname>\r\n          </person_name>\r\n          <person_name
        contributor_role=\"chair\" sequence=\"additional\">\r\n            <given_name>Margaret</given_name>\r\n
        \           <surname>Mitchell</surname>\r\n          </person_name>\r\n          <person_name
        contributor_role=\"chair\" sequence=\"additional\">\r\n            <given_name>Michael</given_name>\r\n
        \           <surname>Strube</surname>\r\n          </person_name>\r\n        </contributors>\r\n
        \       <event_metadata>\r\n          <conference_name>Proceedings of the
        Second ACL Workshop on Ethics in Natural Language Processing</conference_name>\r\n
        \         <conference_location>New Orleans, Louisiana, USA</conference_location>\r\n
        \         <conference_date start_year=\"2018\" end_year=\"2018\" start_month=\"6\"
        end_month=\"6\" />\r\n        </event_metadata>\r\n        <proceedings_metadata
        language=\"en\">\r\n          <proceedings_title>Proceedings of the Second
        ACL Workshop on Ethics in Natural Language Processing</proceedings_title>\r\n
        \         <publisher>\r\n            <publisher_name>Association for Computational
        Linguistics</publisher_name>\r\n            <publisher_place>Stroudsburg,
        PA, USA</publisher_place>\r\n          </publisher>\r\n          <publication_date>\r\n
        \           <year>2018</year>\r\n          </publication_date>\r\n          <noisbn
        reason=\"simple_series\" />\r\n          <doi_data>\r\n            <doi>10.18653/v1/W18-08</doi>\r\n
        \           <timestamp>20180530063636</timestamp>\r\n            <resource>http://aclweb.org/anthology/W18-08</resource>\r\n
        \         </doi_data>\r\n        </proceedings_metadata>\r\n      </conference>\r\n
        \   </crossref>\r\n  </doi_record>\r\n</doi_records>"
  recorded_at: Tue, 08 Oct 2019 13:45:03 GMT
recorded_with: VCR 3.0.3
