---
http_interactions:
- request:
    method: get
    uri: https://doi.crossref.org/openurl?format=unixref&id=doi:10.5072/5678&noredirect=true&pid=sowen@cs.man.ac.uk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Crossref-Deployment-Name:
      - qs5-1
      Content-Type:
      - text/xml;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<doi_records>\r\n  <doi_record>\r\n
        \   <crossref>\r\n      <error>doi:10.5072/5678</error>\r\n    </crossref>\r\n
        \ </doi_record>\r\n</doi_records>"
  recorded_at: Tue, 08 Oct 2019 13:45:04 GMT
recorded_with: VCR 3.0.3
